---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import childrens from '../assets/Index-WVUM.webp';
import terra from '../assets/Index-Terra.webp';
import wts from '../assets/Index-WTS.webp';
import discovery from '../assets/Index-Discovery.webp';
import anchor from '../assets/Index-anchor.webp';
import box from '../assets/Index-mailbox.webp';
---

<Layout>
	<div id='main'>
		<a class='hero-contain' href='/childrens'>
			<Image
				src={childrens}
				alt='Coloring Books at WVU Medicine Childrens'
				class='hero-image'
				loading='eager'
			/>
			<p class='hero-title'>
				Surgery Day at <br />WVU Medicine<br />Children's Hospital
			</p>
		</a>
		<a class='hero-contain' href='/terrasearch'>
			<Image
				src={terra}
				class='hero-image'
				alt='Terrasearch logo on a building'
				loading='eager'
			/>
			<p class='hero-title'>Terrasearch Geophysical</p>
		</a>
		<a class='hero-contain' href='/wts'>
			<Image
				src={wts}
				alt='wildflower therapy services logo on cups'
				class='hero-image'
				loading='eager'
			/>
			<p class='hero-title'>Wildflower Therapy Services</p>
		</a>
		<a class='hero-contain' href='/discovery'>
			<Image
				src={discovery}
				alt='Explorer guide for WVU Medicine Childrens'
				class='hero-image'
				loading='eager'
			/>
			<p class='hero-title'>
				WVU Medicine Children's<br />
				Day at Discovery World
			</p>
		</a>
		<a class='hero-contain' href='/anchor'>
			<Image
				src={anchor}
				alt='Anchor and Anvil logo on coffe cup'
				class='hero-image'
				loading='eager'
			/>
			<p class='hero-title'>Anchor and Anvil Coffee</p>
		</a>
		<a class='hero-contain' href='/mailbox'>
			<Image
				src={box}
				alt='Mail drop box wrapped in fun colors and designs.'
				class='hero-image'
				loading='eager'
			/>
			<p class='hero-title'>
				Children's Miracle Network<br />
				Donation Box
			</p>
		</a>
	</div>
</Layout>

<style>
	#main {
		padding: 16px;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
	}
	.hero-contain {
		width: 100%;
		position: relative;
	}
	.hero-image {
		width: 100%;
		height: auto;
		aspect-ratio: 24 / 19;
		transition: opacity 0.3s linear;
	}
	.hero-title {
		position: absolute;
		top: 50%; /* position the top  edge of the element at the middle of the parent */
		left: 50%; /* position the left edge of the element at the middle of the parent */
		transform: translate(-50%, -50%);
		z-index: -1;
		text-align: center;
		color: rgba(34, 75, 116, 1);
		font-size: 40px;
		margin: 0px;
	}
	.hero-contain:hover > .hero-image {
		opacity: 0;
		transition: opacity 0.3s linear;
		cursor: pointer;
	}
	@media only screen and (max-width: 843px) {
		#main {
			grid-template-columns: 1fr;
		}
		.hero-title {
			display: none;
		}
	}
</style>
